.jumbotron {
    position: relative;
    padding-top: 8rem;
    background-color: #b3e0ea;
    background-position: center;
    height: 35rem;
    overflow: hidden;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}
.vector {
    position: absolute;
    right: 0;
    top: -10%;
}
#daftarbisnis {
    padding: 5rem 0;
}
h1 {
    color: black
}

.row .col{
    padding: 30px 60px;
}

.card {
    border-radius: 8px;
    background: white;
    transition: 0.5s ease;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}
.card .card-body{
    padding: 30px 20px;
}
.card img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: right;
}
.card:hover {
    color: #000;
    box-shadow: 0 3px 10px rgba(38, 122, 218, 0.2);
    transform: scale(1.02);
}
.card .btn{
    color: white;
    background-color: #249bb6;
}
.card .btn:hover{
    background-color: #3fb1ca;
}
.chip{
    background-color: #edf2fc;
    padding: 5px 10px;
    border-radius: 18px;
    color: rgb(43, 42, 42);
    font-size: 12px;
}
#kontenfooter {
    background-color: #333333;
    padding: 2rem 1rem;
}
